<div class="container py-4">
  <h3 class="mb-3">📦 My Orders</h3>

  <p *ngIf="loading">Loading...</p>

  <div *ngFor="let o of orders" class="card shadow-sm p-3 mb-3">
    <div class="d-flex justify-content-between">
      <div>
        <div class="fw-bold">{{ o.restaurant?.name }}</div>
        <small class="text-muted">{{ o.createdAt | date:'short' }}</small>
      </div>
      <span class="badge bg-dark">{{ o.status }}</span>
    </div>

    <hr />

    <div *ngFor="let it of o.items" class="d-flex justify-content-between">
      <div>{{ it.food.name }} x {{ it.quantity }}</div>
      <div>₹ {{ it.food.price * it.quantity }}</div>
    </div>

    <div class="d-flex justify-content-between mt-2 fw-bold">
      <div>Total</div>
      <div>₹ {{ o.totalAmount }}</div>
    </div>
  </div>
</div>
